/Makefile.in
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/config.log
/config.status
/libtool
/test-driver
/build/
/.deps/
/.libs/
/ngx_oauth2_module.la
/nginx.conf
/.autotools
/.settings
/config.guess~
/config.sub~
/configure~
